/* DOES NOT WORK - not specific enough */
/* Note: These styles should be located in your global stylesheet */
ion-badge {
  --background: rgb(64, 6, 159);
  --color: white;
  --padding-end: 20px;
  --padding-start: 20px;
}
